.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;  
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
display: none;
  }
}
